head
  link(rel='stylesheet', href='css/app.min.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.min.css",
    integrity="sha256-hV3yBsdy+kVOfeF1fwdxgGQkwQ4WynnzyeDkGA7k+Kg=",
    crossorigin="anonymous")
  script(src="https://code.jquery.com/jquery-3.1.1.min.js",
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
    crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.min.js",
    integrity="sha256-8ulYzAzPmfXhHcaMz/vfG0+xkkdASvmBGMArBaMHBgo=",
    crossorigin="anonymous")
  script(src="/js/app.min.js")
  if title
    title Triston Jones - #{title}
  else
    title Triston Jones
